 ## Level 2

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('Railway_info 2.csv')
df.head()

,Train_No,Train_Name,Source_Station_Name,Destination_Station_Name,days
0,107,SWVMAOVLNK,SAWANTWADI ROAD,MADGOAN JN,Saturday
1,108,VLNKMAOSWV,MADGOAN JN,SAWANTWADI ROAD,Friday
2,128,MAOKOP SPEC,MADGOAN JN,CHHATRAPATI SHAHU MAHARAJ TERMINUS,Friday
3,290,PALACE ON WH,DELHISAFDAR JANG,DELHISAFDAR JANG,Wednesday
4,401,BSB BHARATDA,AURANGABAD,VARANASI JN,Saturday

In [4]:
df.shape

(9960, 5)

In [5]:
df['days'].unique()

array(['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday',
       'Thursday'], dtype=object)

In [6]:
df['days'].value_counts()

days
Friday       1471
Tuesday      1454
Wednesday    1448
Saturday     1441
Sunday       1432
Thursday     1372
Monday       1342
Name: count, dtype: int64

### Task 2.1 : Data Filtering

In [8]:
#Filter the data to show trains that operate on specific days : Monday

trains_that_operate_on_saturday = df[['Train_Name','days']][df["days"].str.contains("Monday", na=False)]
trains_that_operate_on_saturday.head()

     Train_Name    days
6   SVDKLKO FTR  Monday
8   RJPBUMB FTR  Monday
18  AJNIKRMI SP  Monday
22  PUNEMAJN WE  Monday
32  KRMICSMT SF  Monday

In [9]:
trains_that_operate_on_saturday['Train_Name'].nunique()

1170

In [10]:
#Filter the data to show trains that operate on specific days : Tuesday

trains_that_operate_on_Tuesday = df[['Train_Name','days']][df["days"].str.contains("Tuesday", na=False)]

trains_that_operate_on_Tuesday.head()

     Train_Name     days
5   LKOSVDK FTR  Tuesday
15   LTTSWV SPL  Tuesday
16   SWVLTT SPL  Tuesday
23  MAJNPUNE WE  Tuesday
24  DSJKK MTY S  Tuesday

In [11]:
trains_that_operate_on_Tuesday['Train_Name'].nunique()

1230

In [12]:
#Filter the data to show trains that operate on specific days : Wednesday

trains_that_operate_on_Wednesday = df[['Train_Name','days']][df["days"].str.contains("Wednesday", na=False)]

trains_that_operate_on_Wednesday.head()

      Train_Name       days
3   PALACE ON WH  Wednesday
9    PNBEBTI FTR  Wednesday
11    RSDPJP BSF  Wednesday
25   PUNEJBP SPL  Wednesday
34   SRCJBP SF S  Wednesday

In [13]:
trains_that_operate_on_Wednesday['Train_Name'].nunique()

1249

In [14]:
#Filter the data to show trains that operate on specific days :Thursday

trains_that_operate_on_Thursday = df[['Train_Name','days']][df["days"].str.contains("Thursday", na=False)]

trains_that_operate_on_Thursday.head()

     Train_Name      days
13  PNBEASR FTR  Thursday
14   CSMTNGP SF  Thursday
17  LTTKRMI SPL  Thursday
29   JBPATT BIW  Thursday
35   REWABPL SF  Thursday

In [15]:
trains_that_operate_on_Thursday['Train_Name'].nunique()

1159

In [16]:
#Filter the data to show trains that operate on specific days : Friday

trains_that_operate_on_Friday = df[['Train_Name','days']][df["days"].str.contains("Friday", na=False)]

trains_that_operate_on_Friday.head()

          Train_Name    days
1         VLNKMAOSWV  Friday
2        MAOKOP SPEC  Friday
10       PNBEPTA FTR  Friday
12  SVDK VANDEBHARAT  Friday
20       KRMICSMT SP  Friday

In [17]:
trains_that_operate_on_Friday['Train_Name'].nunique()

1288

In [18]:
#Filter the data to show trains that operate on specific days : Saturday

trains_that_operate_on_Saturday = df[['Train_Name','days']][df["days"].str.contains("Saturday", na=False)]

trains_that_operate_on_Saturday.head()

      Train_Name      days
0     SWVMAOVLNK  Saturday
4   BSB BHARATDA  Saturday
21   NGPKRMI SPL  Saturday
28    JBPBDTS SF  Saturday
45   SRCRJT SF A  Saturday

In [19]:
trains_that_operate_on_Saturday['Train_Name'].nunique()

1241

In [20]:
#Filter the data to show trains that operate on specific days : Sunday

trains_that_operate_on_Sunday = df[['Train_Name','days']][df["days"].str.contains("Sunday", na=False)]

trains_that_operate_on_Sunday.head()

      Train_Name    days
7   FTR TRAIN NO  Sunday
19   KRMIAJNI SP  Sunday
51  PURI KOAA SP  Sunday
58   JSMEANVT BI  Sunday
62   DLISVDK SPL  Sunday

In [21]:
trains_that_operate_on_Sunday['Train_Name'].nunique()

1241

In [22]:
# dataframe for trains that start from a specific station : 'CSTMUMBAI'

CSTMUMBAI_start_station = df[df['Source_Station_Name'] == 'CSTMUMBAI']
CSTMUMBAI_start_station.iloc[:,1:3].head()

       Train_Name Source_Station_Name
14     CSMTNGP SF           CSTMUMBAI
31    CSMTKRMI SF           CSTMUMBAI
273  MANDOVI EXPR           CSTMUMBAI
275  KONKAN KANYA           CSTMUMBAI
285  DECCAN EXPRE           CSTMUMBAI

In [23]:
# dataframe for trains that start from a specific station : 'SEALDAH'

SEALDAH_start_station = df[df['Source_Station_Name']== 'SEALDAH']
SEALDAH_start_station.iloc[:,1:3].head()

       Train_Name Source_Station_Name
670  NDLS DURONTO             SEALDAH
718  SDAH RAJDHAN             SEALDAH
734  SAMPARK KRAN             SEALDAH
748  DARJEELING M             SEALDAH
778  SDAH RPH INT             SEALDAH

### Task 2.2: Grouping and Aggregation

In [25]:
# 1 group data by source station and count the number of trains originating from each station

train_counts_Source_Station = df.groupby("Source_Station_Name").size().reset_index(name="numberOFtrains")
train_counts_Source_Station.head()

  Source_Station_Name  numberOFtrains
0         ABHANPUR JN               2
1              ABOHAR               1
2            ABU ROAD               1
3         ACHHNERA JN               1
4            ADILABAD               5

In [26]:
# group data by source station and days and count the number of trains originating from each station

train_counts_Source_Station2 = df.groupby(["Source_Station_Name","days"]).size().reset_index(name="numberOFtrains")
train_counts_Source_Station2.head()

  Source_Station_Name       days  numberOFtrains
0         ABHANPUR JN   Saturday               1
1         ABHANPUR JN    Tuesday               1
2              ABOHAR  Wednesday               1
3            ABU ROAD    Tuesday               1
4         ACHHNERA JN   Saturday               1

In [27]:
# 2 The average number of trains per day for each source station

average_trains = train_counts_Source_Station2.groupby('days')['numberOFtrains'].mean().reset_index(name="Average Trains Per Day")
average_trains.head()

       days  Average Trains Per Day
0    Friday                3.268889
1    Monday                3.050000
2  Saturday                3.305046
3    Sunday                3.066381
4  Thursday                3.146789

In [28]:
Average_Trains_Per_Day = average_trains['Average Trains Per Day'].astype(int)

In [29]:
avg_trains=average_trains.drop('Average Trains Per Day',axis=1)

In [30]:
avg_trains['Average Trains Per Day'] = Average_Trains_Per_Day

In [31]:
avg_trains

        days  Average Trains Per Day
0     Friday                       3
1     Monday                       3
2   Saturday                       3
3     Sunday                       3
4   Thursday                       3
5    Tuesday                       3
6  Wednesday                       3

### Task 2.3: Data Enrichment

In [33]:
df.head()

,Train_No,Train_Name,Source_Station_Name,Destination_Station_Name,days
0,107,SWVMAOVLNK,SAWANTWADI ROAD,MADGOAN JN,Saturday
1,108,VLNKMAOSWV,MADGOAN JN,SAWANTWADI ROAD,Friday
2,128,MAOKOP SPEC,MADGOAN JN,CHHATRAPATI SHAHU MAHARAJ TERMINUS,Friday
3,290,PALACE ON WH,DELHISAFDAR JANG,DELHISAFDAR JANG,Wednesday
4,401,BSB BHARATDA,AURANGABAD,VARANASI JN,Saturday

In [34]:
weekend = df['days'].apply(
    lambda x: 'Weekend' if x in ['Saturday', 'Sunday'] else x
)

In [35]:
df['weekend'] = weekend

In [36]:
df.head()

,Train_No,Train_Name,Source_Station_Name,Destination_Station_Name,days,weekend
0,107,SWVMAOVLNK,SAWANTWADI ROAD,MADGOAN JN,Saturday,Weekend
1,108,VLNKMAOSWV,MADGOAN JN,SAWANTWADI ROAD,Friday,Friday
2,128,MAOKOP SPEC,MADGOAN JN,CHHATRAPATI SHAHU MAHARAJ TERMINUS,Friday,Friday
3,290,PALACE ON WH,DELHISAFDAR JANG,DELHISAFDAR JANG,Wednesday,Wednesday
4,401,BSB BHARATDA,AURANGABAD,VARANASI JN,Saturday,Weekend

In [37]:
df.to_csv('Railway_info level 3.csv', index=False)